.delivery {
    margin: 100px 0 120px 0;
    p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #6A6A6A;
        a {
            text-decoration: none;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: #1AA34F;
        }
    }
}