@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --main-color: #1AA34F;
}

* {
    font-family: 'Inter', sans-serif;;
    margin: 0;
    padding: 0;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

@import 'blocks/cars/toyota_celica/menu';
@import 'blocks/cars/toyota_celica/menumoving';
@import 'blocks/cars/toyota_celica/namecar';
@import 'blocks/cars/toyota_celica/construct';
@import 'blocks/cars/toyota_celica/decor';
@import 'blocks/cars/toyota_celica/modelimg';
@import 'blocks/cars/toyota_celica/description';
@import 'blocks/cars/toyota_celica/questions';
@import 'blocks/cars/toyota_celica/additionally';
@import 'blocks/cars/toyota_celica/facts';
@import 'blocks/cars/toyota_celica/footer';
@import 'blocks/cars/toyota_celica/overlay';

