.additionally {
    margin-top: 80px;
    &__title {
        margin-bottom: 40px;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 120%;
        color: #120309;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        .item {
            position: relative;
            margin-right: 24px;
            width: 180px;
            height: 301px;
            border: 1px solid #F2F2F2;
            border-radius: 8px;
            overflow: hidden;
            &__title {
                margin: 15px 15px 10px 15px;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 120%;
                color: #120309;
            }
            .hidden_text-basket {
                display: none;
            }
            &__price {
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 120%;
                color: #6A6A6A;
                margin: 0 15px;
                .price {
                    color: #120309;
                }
            }
            .btn {
                position: absolute;
                border: none;
                width: 146px;
                height: 46px;
                background: var(--main-color);
                border-radius: 8px;
                font-weight: 700;
                font-size: 14px;
                line-height: 100%;
                text-transform: uppercase;
                color: #FFFFFF;
                bottom: 15px;
                left: 15px;
                transition: all 0.2s;
                &:hover {
                    background: #095f2a;
                }
            }
        }
    }
}