.allstamps {
    &__wrapper {
        padding: 20px 65px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 600px;
        gap: 54px;
        .item {
            display: flex;
            margin-bottom: 15px;
            &__capital {
                width: 30px;
                height: 30px;
                margin-right: 15px;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 120%;
                text-align: center;
                color: #120309;
            }
            &__text {
                a {
                    text-decoration: none;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 120%;
                    color: #6A6A6A;
                    &:hover {
                        color: var(--main-color);
                    }
                }
            }
        }
    }
}